<%- include('partials/header') %>
    <div id="containerNews">

    </div>
    <div id="container">
        <% tweets.forEach(function(tweets){ %>
            <div id="wrapper">
                <div id="namePic">
                    <img id="profilePic" src=<%=tweets.profilePictue %> />

                    <div id="header">
                        <h3>
                            <ul id="myUL">
                                <li>
                                    <a href=<%=tweets.Links %> > 
                                <%= tweets.screenName %>
                                </a>
                                    <a href="https://twitter.com/<%=tweets.screenName %>">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                            </ul>
                        </h3>
                    </div>
                </div>
                <p id="tweet">
                    <% if(tweets.Tweets.length>200){ %>
                        <%= tweets.Tweets.substring(0,200) %>...
                            <% } else{ %>
                                <%= tweets.Tweets %>
                                    <% } %>
                </p>
                <div id="lastUpdate">
                    Tweeted On:
                    <%= tweets.Timeframe %>
                </div>

            </div>
            <br>
            <hr id="tweetEnd">
            <hr id="tweetEnd">
            <% }) %>
    </div>
    <%- include('partials/footer') %>